.movies-list {
  margin: 80px auto 30px auto;
  padding: 0 70px;
  display: grid;
  place-content: center;
  width: 100%;
  grid-template-columns: repeat(auto-fill, 270px);
  row-gap: 32px;
  column-gap: 20px;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .movies-list {
    margin: 80px 30px 30px 30px;
    padding: 0;
    width: 100%;
    grid-template-columns: repeat(auto-fill, 339px);
    row-gap: 36px;
    column-gap: 30px;
  }
}

@media screen and (min-width: 320px) and (max-width: 476px) {
  .movies-list {
    margin: 50px auto;
    width: 100%;
    grid-template-columns: repeat(auto-fill, 300px);
    row-gap: 20px;
  }
}

.not-found {
  display: flex;
  flex-direction: column;
  margin: 70px auto;
  padding: 0;
  width: 90%;
}

.not-found__text {
  margin: 0 auto;
  padding: 0;
  font-weight: 300;
  font-size: 14px;
  color: gray;
  text-align: center;
}
