.header__container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  background-color: inherit;
  gap: 30px;
  max-width: 1140px;
  width: 100%;
}

.header__wrapper {
  margin-right: 70px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* justify-content: flex-end; */
  align-items: center;
  gap: 16px;
}
.header__wrapper_main {
  justify-content: flex-end;
}

.header__link {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  white-space: nowrap;
  max-width: 77px;
  text-decoration: none;
  text-align: end;
}

.header__link:hover {
  opacity: 0.8;
  transition: opacity 0.4s ease-in-out;
}
.header__link_gray {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: flex-end;
  margin: 0;
  padding: 0;
  width: 100px;
  width: 100%;
  height: 32px;
  border-radius: 20px;
  background-color: #f9f9f9;
  color: black;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  opacity: 1;
}
.header__link_gray:hover {
  opacity: 0.6;
  transform: 2s opacity ease-in-out;
}

.header__link_gray:focus {
  border: 1px solid gray;
}

.header__link_green {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Inter', 'Roboto', 'sans-serif';
  background-color: #2be080;
  width: 76px;
  height: 32px;
  width: 100%;
  border-radius: 3px;
  color: black;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

.header__link_hidden {
  display: none;
}

.header__link_black {
  color: black;
  font-weight: 400;
}
.active {
  font-weight: 500;
}

.header__link_black:nth-child(3) {
  max-width: 465px;
  width: 100%;
  text-align: left;
}
.header__link_black:nth-child(2) {
  max-width: 465px;
  width: 100%;
  text-align: right;
}

.header__link_wh {
  color: white;
}
.header__link_wh:nth-child(3) {
  max-width: 465px;
  width: 100%;
  text-align: left;
}
.header__link_wh:nth-child(2) {
  max-width: 465px;
  width: 100%;
  text-align: right;
}

.mobile_btn {
  display: none;
}

@media (max-width: 768px) {
  .header__container {
    max-width: 520px;
    width: 100%;
    display: block;
    z-index: 1;
    padding: 0;
  }
  .header__wrapper {
    margin: 0;
    padding: 159px 0 0 0;
    max-width: 520px;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-items: center;
    background-color: white;
    top: 0;
    bottom: 0;
    right: -100%;
    height: 100vh;
    transition: right 1s;
  }
  .header__link_black:nth-child(3) {
    text-align: center;
  }
  .header__overlay {
    position: fixed;
    height: 100vh;
    right: -100%;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    background: #000000;
    opacity: 0.3;
    z-index: -1;
  }

  .header_open {
    right: 0;
  }

  .header__link {
    padding: 0;
    margin: 0;
    text-align: center;
    display: none;
    flex-direction: column;
    height: 22px;
    z-index: 1;
    color: black;
  }

  .header__link_active {
    padding-bottom: 4px;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    max-width: 520px;
    width: 100%;
    color: black;
  }

  .header__link_active:hover {
    text-decoration: 2px underline;
    text-underline-offset: 4px;
    cursor: pointer;
  }
  .header__link_active:last-of-type {
    display: flex;
    justify-content: center;
    margin: 600px 0 90px 0;
    background-color: #f9f9f9;
    max-width: 100px;
    width: 100%;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
  }
}

@media (max-width: 768px) {
  .mobile_btn {
    display: block;
    height: 43px;
    width: 43px;
    position: absolute;
    right: 28px;
    top: 18px;
    cursor: pointer;
    z-index: 20;
    opacity: 1;
  }
  .mobile_btn:hover {
    opacity: 0.6;
    transform: 0.5s opacity ease-in-out;
  }
}

@media screen and (min-width: 320px) and (max-width: 476px) {
  .mobile_btn {
    right: 14px;
    top: 15px;
  }
}
