.techs {
  margin: 0;
  padding: 110px 0;
  max-width: 1280px;
  width: 100%;
  color: black;
  background-color: #f5f5f5;
}
.techs__title {
  font-family: 'Inter', 'Roboto', 'sans-serif';
  margin: 0 70px 0 70px;
  padding: 0 0 23px 0;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  text-align: left;
  font-weight: 400;
  border-bottom: 1px solid black;
}

.techs__subtitle-wrapper {
  margin: 0 auto;
  padding: 90px 0 100px 0;
  max-width: 460px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.techs__subtitle {
  font-family: 'Inter', 'Roboto', 'sans-serif';
  margin: 0;
  padding: 0 0 26px 0;
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -0.04em;
  text-align: center;
}

.techs__paragraph {
  font-family: 'Inter', 'Roboto', 'sans-serif';
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.04em;
  text-align: center;
}

.techs__box-wrapper {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.techs__box {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e8e8e8;
  max-width: 90px;
  width: 100%;
  height: 60px;
  border-radius: 10px;
  opacity: 1;
  position: relative;
}
.techs__box:hover {
  opacity: 0.7;
  transform: 2s opacity ease-in-out;
}

.techs__text {
  font-family: 'Inter', 'Roboto', 'sans-serif';
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: -0.04em;
  color: black;
}

@media screen and (max-width: 768px) {
  .techs {
    padding: 90px 0;
  }
  .techs__title {
    margin: 0 50px 0 50px;
  }
  .techs__box-wrapper {
    padding: 0 50px;
  }

  .techs__subtitle-wrapper {
    padding: 80px 0 83px 0;
  }
  .techs__box {
    max-width: 83px;
  }
  .techs__text {
    font-size: 12px;
  }
}

@media screen and (min-width: 320px) and (max-width: 476px) {
  .techs {
    padding: 70px 0;
    background-color: white;
  }
  .techs__title {
    margin: 0 18px;
    padding-bottom: 28px;
    font-size: 18px;
    line-height: 22px;
  }
  .techs__subtitle-wrapper {
    padding: 60px 0 50px 0;
  }
  .techs__subtitle {
    font-size: 30px;
    line-height: 36px;
  }
  .techs__paragraph {
    font-size: 11px;
    line-height: 16px;
  }
  .techs__box-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 71px;
    row-gap: 10px;
    column-gap: 10px;
    height: 270px;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
  }
  .techs__box {
    width: 84px;
    height: 57px;
  }
  .techs__text {
    font-size: 12px;
  }
}
